# Otros
#db/
*_disable
# Node modules y dependencias
frontend/node_modules/

# Archivos de bloqueo y configuración de Node.js
frontend/package-lock.json
frontend/.next/
frontend/.env.local

# Archivos de configuración de logs
frontend/logs/
frontend/*.log

# Archivos de entorno y configuración local
#*.env
#*.env.local

# Archivos generados por Python
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/venv/
backend/.venv/

# Archivos de base de datos
backend/postgres_data/
frontend/postgres_data/

# Archivos de sistema y editor
.DS_Store

# Archivos de compilación
frontend/public/
frontend/.next/

# Archivos generados por Next.js
frontend/.next/
frontend/out/
frontend/cache/

# Directorios de caché
backend/staticfiles/
frontend/.cache/

# Archivos de configuración personal de VS Code
.vscode/

# Ignorar archivos y directorios específicos de pruebas
frontend/__tests__/
backend/tests/
